aulas_praticas/lab10_nodered/parte_1_monitoramento_temperatura/flows.json
[{"id":"d78da4550da9bf2a","type":"tab","label":"Fluxo Principal","disabled":false,"info":""},{"id":"4e063c3c91d51c80","type":"aedes broker","z":"d78da4550da9bf2a","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","persistence_bind":"memory","dburl":"","usetls":false,"x":190,"y":240,"wires":[[],[]]},{"id":"533a9e8630a1348f","type":"mqtt in","z":"d78da4550da9bf2a","name":"","topic":"casa/temperatura","qos":"2","datatype":"auto-detect","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":320,"y":40,"wires":[["93542476682fa4a8"]]},{"id":"93542476682fa4a8","type":"json","z":"d78da4550da9bf2a","name":"","property":"payload","action":"","pretty":false,"x":470,"y":200,"wires":[["2bf5586eda76e99f","a877ac2d6553ee80","c3b86992153baf91","29977436f8cd0d7a"]]},{"id":"2bf5586eda76e99f","type":"function","z":"d78da4550da9bf2a","name":"alarm_control","func":"const temperatura = msg.payload;\n\nif(Number(temperatura) > 24){\n    msg.payload = \"ON\";\n   // msg.payload = Number(msg.payload);\n}\nelse{\nmsg.payload = \"OFF\";\n}\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":120,"wires":[["9a02951b75cd9ccb"]]},{"id":"9a02951b75cd9ccb","type":"mqtt out","z":"d78da4550da9bf2a","name":"","topic":"casa/alarme","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker","x":910,"y":120,"wires":[]},{"id":"a877ac2d6553ee80","type":"debug","z":"d78da4550da9bf2a","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":60,"wires":[]},{"id":"6f34ab7012467b72","type":"telegram sender","z":"d78da4550da9bf2a","name":"","bot":"4b744b03e8ba1873","haserroroutput":false,"outputs":1,"x":930,"y":180,"wires":[[]]},{"id":"9f444967beac12c6","type":"telegram receiver","z":"d78da4550da9bf2a","name":"","bot":"4b744b03e8ba1873","saveDataDir":"","filterCommands":false,"hasinput":false,"inputs":0,"handleallupdates":false,"handleprocessupdates":false,"x":1150,"y":180,"wires":[["b142ae27925072bb"],[]]},{"id":"b142ae27925072bb","type":"debug","z":"d78da4550da9bf2a","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1340,"y":180,"wires":[]},{"id":"c3b86992153baf91","type":"function","z":"d78da4550da9bf2a","name":"telem_control","func":"const temperatura = msg.payload;\n\nif(Number(temperatura) > 24){\n    msg.payload = {\n        chatId:917451988,\n        type:\"message\",\n        content:\"Temperatura alta!\"\n    };\n    return msg;\n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":180,"wires":[["6f34ab7012467b72"]]},{"id":"3b22e161894fe5bf","type":"ui-chart","z":"d78da4550da9bf2a","group":"26dffc44745e02e8","name":"","label":"chart","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Tempo","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"Temperatura","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"0","ymax":"100","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":6,"height":8,"className":"","interpolation":"linear","x":1330,"y":260,"wires":[[]]},{"id":"29977436f8cd0d7a","type":"function","z":"d78da4550da9bf2a","name":"convert_temp","func":"let c = Number(msg.payload);\n\nmsg.fahrenheit = c*9/5 + 32;\nmsg.celsius = c;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":260,"wires":[["82d3301940328521","08b93aeaae0144f4"]]},{"id":"fdf1541826de3d61","type":"ui-switch","z":"d78da4550da9bf2a","name":"switch_temp_type","label":"C° x F°","group":"26dffc44745e02e8","order":0,"width":0,"height":0,"passthru":false,"decouple":false,"topic":"payload","topicType":"msg","style":"","className":"","layout":"row-spread","clickableArea":"switch","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1190,"y":480,"wires":[["5f694dbfea7a0396"]]},{"id":"5f694dbfea7a0396","type":"function","z":"d78da4550da9bf2a","name":"switch_temp_type","func":"let useF = msg.payload;\n\nflow.set(\"useF\", useF);\n\nlet history = flow.get(\"history\") || [];\n\nlet data = [];\n\nhistory.forEach(p => {\n    data.push({\n        x: p.t,\n        y: useF ? p.f:p.c\n    });\n});\n\nmsg.payload = data;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":260,"wires":[["3b22e161894fe5bf","193cca15a4c72a30"]]},{"id":"82d3301940328521","type":"function","z":"d78da4550da9bf2a","name":"get_history","func":"let history = flow.get(\"history\") || [];\n \n history.push({\n    c: msg.celsius,\n    f: msg.fahrenheit,\n    t: Date.now()\n });\n\n if (history.lenght > 500){\n    history.shift();\n }\n\n flow.set(\"history\",history);\n\n return msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":260,"wires":[["5f694dbfea7a0396","01be7a41a957aab2"]]},{"id":"08b93aeaae0144f4","type":"debug","z":"d78da4550da9bf2a","name":"current_temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":300,"wires":[]},{"id":"193cca15a4c72a30","type":"debug","z":"d78da4550da9bf2a","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1340,"y":320,"wires":[]},{"id":"01be7a41a957aab2","type":"debug","z":"d78da4550da9bf2a","name":"current_history","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":320,"wires":[]},{"id":"mqtt_broker","type":"mqtt-broker","name":"Aedes Broker","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"4b744b03e8ba1873","type":"telegram bot","botname":"t.me/iot_pratica_bot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbothost":"0.0.0.0","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"26dffc44745e02e8","type":"ui-group","name":"Temperatura","page":"083642fbc6eac964","width":"6","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"083642fbc6eac964","type":"ui-page","name":"Sensores","ui":"57f64857745bb674","path":"/page1","icon":"home","layout":"grid","theme":"3de793bb20f9f813","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"57f64857745bb674","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":false},{"id":"3de793bb20f9f813","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]